
body {
    margin: 20px;
    background-color: #eeeeee;
    font-family: Helvetica;
    font-size: 140%;
}

strong {
    color: black;
}

div.header {
    min-height: 40px;
}

div.header a {
    text-decoration: none;
    font-family: Helvetica;
    color: blue;
}
div.header a:hover {
    text-decoration: underline;
}