<html ng-app>
<head>
  <link rel="stylesheet" href="css/bootstrap.css">
  <script type='text/javascript' src="angular.min.js"></script>
</head>
<body style="padding: 50px" 
      ng-init="recipes = [ 
               { name: 'Pasta al Pesto', type: 'Italian', summary: 'A quick and simple dish for any Italian household.' },
               { name: 'Garlic Pork', type: 'Thai', summary: 'A quick and simple meat dish for any Thai table.' },
               { name: 'Garlic Broccoli', type: 'Chinese', summary: 'Healthy and full of flavour, a simple dish.' },
               { name: 'Black Pepper Beef', type: 'Chinese', summary: 'Delicious and rich in flavour. A Chinese classic.' },]"

  <p>Filter list: <input ng-model="searchFor" size="30"/></p>

  <div style="width: 300px; float: left; margin-right: 20px" ng-repeat="recipe in recipes | filter:searchFor | orderBy: 'type'" class="panel panel-default">
    <div class="panel-heading"> {{ recipe.name }} ({{ recipe.type }})</div>
    <div class="panel-body">
      {{ recipe.summary }}
    </div>
  </div>
  <div style="clear: left"></div>
  <p> There are {{ recipes.length }} recipes so far!</p>

</body>
</html>


